{% load static %}
{% block content%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        
<link href="{% static 'css/styles.css'%}" rel="stylesheet" />
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">product recommendation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{%url 'index'%}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'furniture'%}">furniture</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'clothing'%}">clothing</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'electronics'%}">electronics</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">accounts</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          
                            <li><a class="dropdown-item" href="#!">login</a></li>
                            <li><a class="dropdown-item" href="{%url 'signup' %}">signup</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        
                     
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Clothing</h1>
                
            </div>
        </div>
    </header>



</div>
{% endblock content %}